:root{
    --main-bg-color: #C4E7D4;
    --text-color: #CEB5B7;
    --login-box-color: #426B69;
    --secondary-color: #233D4D;
}

html, body {
    height: 100%;
    background-color: var(--main-bg-color);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#login-text {
    font-size: 4rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--text-color);
}

#login-box {
    display: flex;
    border-radius: 10%;
    box-shadow: 5px 5px 5px var(--secondary-color);
    min-width: 500px;
    min-height: 400px;
    background-color: var(--login-box-color);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#login-details {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10%;
    min-height: 50%;
    width: 80%
}

.text-input {
    border-radius: 5px;
    font-size: 1.3rem;
    width: 100%;
    height: 30px;
    padding: 0px 0px 0px 0px;
    background-color: var(--text-color);
}

#sign-in-button {
    margin-top: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    height: 50px;
    color: var(--text-color);
    background-color: var(--secondary-color);
}